NMONITOR_PASSWORD=change-me
# NMONITOR_JWT_SECRET=
# NMONITOR_CONFIG=/opt/nmonitor/config.yaml
# NMONITOR_SMTP_ENABLED=true
# NMONITOR_SMTP_HOST=smtp.example.com
# NMONITOR_SMTP_PORT=587
# NMONITOR_SMTP_USERNAME=
# NMONITOR_SMTP_PASSWORD=
# NMONITOR_SMTP_FROM=nmonitor@example.com
# NMONITOR_SMTP_TO=ops@example.com
# NMONITOR_SMTP_ENCRYPTION=starttls
